.gnb {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    background: linear-gradient(to right, #ea3937, #6f5e98, #62c377);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}
.gnb li {
    padding: 0 2rem;
    cursor: pointer;
}